@mixin transition {
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: ease-in-out;

    &:focus,
    &:hover {
        transition-duration: .2s;
        transition-property: all;
        transition-timing-function: ease-in-out;
    }
}
